<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Bharath</title>
		<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
	</head>
	<body>
		<img src="https://github.com/BharathKarkera/images/blob/main/Screenshot_20220814-190927.png?raw=true">
		<br>
		<form action="greet" method="post">
			{% for message in get_flashed_messages() %}
				<p> {{message}} </p>
			{% endfor %}
			<br>
			<input type="text" name="name_input">
			<br>
			<input type="submit" value="GREET" id="greet">
		</form>
	</body>
</html>
